<h2 class="section-title text-center">Person detail</h2>
<div class="boxed-section request-form">
  <p>
    name:
    <%= @person.user_name %>
  </p>
  <p>
    email id:
    <%= @person.email%>
  </p>
  <p>
    Gender:
    <%= @person.gender %>
  </p>
  <p>
    Contact number:
    <%= @person.contact_number %>
  </p>
</div>