<div class="col-md-6"> 
  <div class="boxed-section request-form">
    <%= link_to "view Address", addresses_path %>
    <h2 class="section-title text-center">Enter Your Address</h2>
    <%= render "addaddress"%>
  </div>
</div>
