<div class="col-md-6"> 
  <div class="boxed-section request-form">
    <%= link_to "view Address", addresses_path %>
    <h2 class="section-title text-center">Enter Your Address</h2>
    <%= render "addaddress"%>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#address_state").on("change", function()
    {
      
      $.ajax({
        url: 'change_city',
        method: 'GET',
        data: 
        {
          state: $(this).val()
        }
      });
    });
  });
</script>
