<div class="col-md-6"> 
  <div class="boxed-section request-form">
    <h2 class="section-title text-center">Create Category</h2>
    <%= render 'form' %>
    <%= link_to "View All Category" , categories_path%>
  </div>
</div>
