<div class="col-md-6"> 
  <div class="boxed-section request-form">
    <h2 class="section-title text-center">Listing of Category</h2>
    <p>
      Category name:
      <%= @category.category_name %>
    </p>
    <%= link_to "back",  categories_path %>
  </div>
</div>